                <leaflet center="sf" controls="controls" markers="markers" layers="layers" height="480px"
                         event-broadcast="events"></leaflet>

                <!--<div class="col-sm-12 col-md-12">-->
                    <!--<accordion>-->
                        <!--<accordion-group heading="Map Controls">-->
                            <!--<accordion close-others="oneAtATime">-->

                                <!--<accordion>-->
                                    <!--<accordion-group heading="Maps">-->
                                        <!--<accordion close-others="oneAtATime">-->
                                            <!--<accordion-group ng-repeat="map in maps">-->
                                                <!--<accordion-heading>-->
                                                    <!--{{map.title}}-->
                                                <!--</accordion-heading>-->
                                                <!--<div class="col-sm-12 col-md-12">-->
                                                    <!--<button ng-click="toggleMap(map.name,map.title )"-->
                                                            <!--class="btn btn-primary">Enable as Base Map-->
                                                    <!--</button>-->
                                                <!--</div>-->

                                            <!--</accordion-group>-->
                                        <!--</accordion>-->
                                    <!--</accordion-group>-->
                                    <!--<accordion-group heading="Map Layers">-->
                                        <!--<accordion close-others="oneAtATime">-->
                                            <!--<accordion-group ng-repeat="mapLayer in mapLayers" ng-animate="'animate'">-->
                                                <!--<accordion-heading is-open="open">-->
                                                    <!--{{mapLayer.title}}-->
                                    <!--<span class="pull-right">-->
                                        <!--<button ng-click="layerUp($index,$event)">up</button>-->
                                        <!--<button ng-click="layerDown($index,$event)">down</button>-->
                                        <!--<button ng-click="layerRemove($index,$event)">remove</button>-->
                                    <!--</span>-->
                                                <!--</accordion-heading>-->
                                                <!--<div class="col-sm-11 col-md-11">-->
                                                    <!--<button ng-click="toggleLayer(mapLayer.name)" class="btn btn-primary">-->
                                                        <!--{{mapLayer.label}}-->
                                                    <!--</button>-->
                                                 <!--</div>-->
                                            <!--</accordion-group>-->
                                        <!--</accordion>-->
                                    <!--</accordion-group>-->
                                <!--</accordion>-->
                        <!--</accordion-group>-->
                    <!--</accordion>-->

                <!--</div>-->
